/* Designed Mobile-First */

/* Text */


a {
    font-family: 'Space Mono', monospace;
}

p {
    font-family: 'Space Mono', monospace;
    display: block;
}

/* Skip to Content Button */

.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
.skip a:focus {
    position: absolute;
    top: -10px;
}

/* Navigation */

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    align-items: flex-end;
    justify-content:space-around;
    background-color: black;
}

.nav-button {
    color: white;
    text-decoration: none;
}

.active {
    color: cyan;
    font-size: x-large;
}

/* Images */

#cartoon_image {
    max-height: 50vh;
    width: auto;
    display: block;
}

/* Gallery */

.container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns:1fr;
    grid-template-rows: repeat(8, 1fr); */
}

.grid-item {
    width: auto;
    height: 100vh;
    justify-self: center;
    object-fit: cover;
    cursor: pointer;
}

.grid-image {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
    bottom: 50px;
}

.grid-image:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid-image:hover + figcaption {
    display: block;
}

/* General Content */

#index_main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

figcaption {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

body {
    display: grid;
}

#home_page {
    background-image: url('../images/background-image.jpg');
}

/* Begin flip card (code used from https://www.w3schools.com/howto/howto_css_flip_card.asp)*/

.card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .grid-image, .flip-image-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .grid-image {
    background-color: #bbb;
    color: black;
  }

  .flip-image-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


/* Tablet View */

@media (min-width: 800px) {
    /* … */
}

/* Desktop View */

@media (min-width: 1000px) {
    /* … */
}

@media (prefers-reduced-motion: reduce) {
/*code from here https://dev.webonomic.nl/how-to-disable-css-transforms-transistions-and-animations */

    * {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/

        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}