/* Designed Mobile-First */

/* Text */

a {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/* Skip to Content Button */

.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
.skip a:focus {
    position: absolute;
    top: -10px;
}

/* Navigation */

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    align-items: flex-end;
    justify-content:space-around;
    background-color: black;
}

.nav-button {
    color: white;
    text-decoration: none;
}

.active {
    color: cyan;
    font-size: x-large;
}

/* Images */

#cartoon_image {
    max-height: 50vh;
    width: auto;
    display: block;
}

/* Gallery */

.grid {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(8, 1fr);
}

.grid-item {
    width: auto;
    height: 100vh;
    justify-self: center;
}

.grid img {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
    bottom: 50px;
}

.grid img:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid img:hover + figcaption {
    display: block;
}

/* General Content */

#index_main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

figcaption {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}


/* Tablet View */

@media (min-width: 800px) {
    /* … */
}

/* Desktop View */

@media (min-width: 1000px) {
    /* … */
}